@import "../../../app/styles.sass"

.aboutPanel
  background-color: #c0ee3e
  font-family: "Audiowide", cursive
  @include main__width()

  &__name
    font-size: 32px
    text-shadow: 0px 0px 3px black

  &__career
    font-size: 22px
    text-shadow: 0px 0px black
