.postBox
    background-color: chartreuse
    margin: 40px
    height: 400px

    &__title
        font-family: "Audiowide", cursive
        font-size: 18px

    &__tag
        font-size: 16px

    &__text
        font-size: 12px
