@import "../../app/styles.sass"

.header__menu--nav
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    text-shadow: $textShadowDark
    background-color: $colorPurple

.header__menu--a
    min-width: 100px
    padding: 35px 0
    text-align: center
    text-decoration: none
    color: $fontColorBright
    font-size: 18px
    font-weight: bold

    &:hover
        color: $colorBrightGreen
        text-shadow: 0 0 5px $bgColorDarkerGray
