@import "../../app/styles.sass"

.header__menu--nav
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    text-shadow: $textShadowDark
    background-color: $bgColorDarkBlue

.header__menu--a
    width: 150px
    padding: 2vw
    text-align: center
    text-decoration: none
    font-family: $fontFamilyTitle
    font-weight: normal
    color: $fontColorBright

    &:hover
        background-color: $colorButtonHover
        text-shadow: 0 0 5px $bgColorBrightBlue
