.header_.header__menu--nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #2c2c2c;
}

.header__menu--a {
    width: 150px;
    padding: 2vw;

    text-align: center;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    color: white;
}

.header__menu--a:hover {
    background-color: rgb(76, 67, 77);
    text-shadow: 0 0 5px #9A9EAB;
}

.header__menu {
    font-size: 16px;
}

.header__menu--nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #2c2c2c;
}

.header__menu--a {
    width: 150px;
    padding: 2vw;

    text-align: center;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    color: white;
}

.header__menu--a:hover {
    background-color: rgb(76, 67, 77);
    text-shadow: 0 0 5px #9A9EAB;
}