@import "../../app/styles.sass"
.titleTextContainer
    justify-content: center
    margin: 0 10%

    @include main__width()

    &__title
        font-size: 20px
        font-family: "Audiowide", cursive

    &__text
        font-size: 14px
        text-align: center
