$colorBlack: #000000

// pakiet 1
$colorPurple: #552244
$colorDarkGreen: #596157
$colorMidGreen: #5b8c5a
$colorBrightGreen:  #cfd186

// pakiet 2
$colorOrange: #fe9801
$colorBrightOrange: #f4eec7
$colorLimon: #ccda46
$colorDarkLimon: #697c37

$fontColorBright: #ffffff
$fontColorDark: #000000

$fontA: 'Lora' // mid
$fontB: 'PT Sans' // cool
$fontC: 'Pangolin' // comic, good for subtitles
$fontD: "Arsenal"
$fontE: "Merriweather" // big font

$fontFamilyText: $fontD

$boxShadow: 2px 2px 8px $colorBlack
$textShadowDark: 2px 2px 4px $colorBlack

$fontSizeSmall: 16px
