$colorBlack: #000000
$colorButtonHover: rgb(76, 67, 77)

$colorPurple: #552244
$colorDarkGreen: #596157
$colorMidGreen: #5b8c5a
$colorBrightGreen: #cfd186

$bgColorBrightBlue: #9a9eab
$bgColorGreen: #c0ee3e
$bgColorDarkBlue: #5d535e   
$bgColorDarkerGray: #2c2c2c

$fontColorBright: #ffffff
$fontColorDark: #000000

$fontFamilyText: 'Quattrocento'
$fontNew: 'Trade Winds', cursive

$boxShadow: 2px 2px 8px $bgColorDarkBlue
$textShadowDark: 2px 2px 4px $bgColorDarkerGray

$fontSizeSmall: 16px
