body
    background-color: white
    font-family: 'GFS Neohellenic', sans-serif

@mixin main__width($padding-x:10%, $padding-y:20px)
    padding: $padding-y $padding-x
    display: flex
    flex-direction: column
    align-items: center