@import "../../app/styles.sass"

.contactContainer
    margin-bottom: 40px

    &__title
        background-color: $colorOrange
        height: 140px
        display: flex
        align-items: center
        justify-content: center
        padding: 0 10%

        &--p
            font-size: 28px
            color: white
            text-transform: uppercase

    &__dataContainer
        margin: 0 10%
        position: relative

        &--bg
            background-color: $colorBrightOrange // rgba(85, 34, 68, 0.2)
            position: absolute
            width: 90%
            height: 650px
            right: -5%
            z-index: -1

        &--button
            display: block
            padding: 15px 10px
            width: 150px
            margin: 20px auto
            background-color: $colorDarkLimon
            border: none
            text-align: center
            text-decoration: none
            color: $fontColorBright
            font-family: $fontFamilyText
            font-size: $fontSizeSmall
            box-shadow: $boxShadow

        &--form
            padding-top: 40px

    &__inputContainer
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px 0

        &--input
            box-sizing: border-box
            width: 400px
            padding: 15px 10px
            border: none
            margin: 8px 0
            border: $colorDarkLimon solid
            font-size: $fontSizeSmall
            font-family: $fontFamilyText

            &:focus
                border: $colorLimon solid

    &__inputContainer:last-of-type textarea
        height: 250px
        font-family: $fontFamilyText
        font-size: $fontSizeSmall
