.contactContainer {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer__title {
    font-family: "Audiowide", cursive;
    font-size: 20px;
}

.contactContainer__dataContainer {
    background-color: #9a9eab;
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

form.contactContainer__dataContainer--form {
    width: 85%;
}

.contactContainer__inputContainer {
    display: flex;
    flex-direction: column;
}

.contactContainer__inputContainer--label {
    margin: 10px 0;
    font-size: 15px;
}

.contactContainer__inputContainer--input {
    padding: 15px 10px;
    border: none;
    margin: 8px 0;
    box-shadow: 2px 2px 8px #5d535e;
    box-sizing: border-box;
}

.contactContainer__inputContainer--input:focus {
    background-color: cornsilk;
}

.contactContainer__dataContainer--button {
    padding: 15px 10px;
    width: 150px;
    margin-top: 20px;
    background-color: #5d535e;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    box-shadow: 2px 2px 8px #5d535e;
}