.techListContainer {
    background-color: #9A9EAB;
    padding: 0 10%;
}

ul.techListContainer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.techListContainer__list--element {
    list-style: none;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.1);

}

.techListContainer__list--div {
    display: flex;
    min-height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.techListContainer__list--img {
    height: 60px;
    padding-top: 20px;
}

.techListContainer__list--title {
    font-size: 14px;
    font-family: "Audiowide", cursive;
}