@import "../../../app/styles.sass"

.techListContainer
    background-color: $bgColorBrightBlue
    padding: 0 10%

    &__list
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding-left: 0
        margin: 0 auto

    &__list--element
        list-style: none
        width: 100%
        background-color: rgba(255, 255, 255, 0.1)

    &__list--div
        justify-content: center
        min-height: 150px
        border-left: 1px solid $bgColorBrightBlue
        border-right: 1px solid $bgColorBrightBlue
        @include main__width(0,0)

    &__list--img
        height: 60px
        padding-top: 20px

    &__list--title
        font-size: $fontSizeSmall
        font-family: $fontFamilyTitle
        text-shadow: $textShadowDark
        color: $fontColorBright
