@import "../../app/styles.sass"

.header
    background-color: $bgColorDarkBlue
    @include main__width()

    &__icon
        padding-top: 30px
        height: 180px
        width: 180px
        fill: #000000
        -webkit-filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5))
        filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5))

    &__title
        text-align: center
        color: $fontColorBright
        font-size: 52px
        font-family: $fontFamilyTitle
        text-shadow: $textShadowDark, 0 0 5px $bgColorBrightBlue
