.header {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #5D535E;
}

.header__icon {
    height: 180px;
    width: 180px;
    fill: #000000;
    -webkit-filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5));
}

.header__title {
    color: white;
    font-size: 52px;
    font-family: 'Audiowide', cursive;
    text-shadow: 2px 2px 4px #2c2c2c, 0 0 5px #9A9EAB;
}
