@import "../../app/styles.sass"

.header
    background-color: $colorOrange
    display: flex
    padding: 20px 10%
    flex-direction: row
    align-items: center
    justify-content: space-between

    // &__icon
    //     padding-top: 30px
    //     height: 180px
    //     width: 180px
    //     fill: #000000
    //     -webkit-filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5))
    //     filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.5))

    &__component
        display: flex
        flex-direction: column
        align-items: flex-start

    &__title
        text-align: center
        color: $fontColorBright
        font-size: 36px
        text-shadow: $colorDarkLimon, 0 0 5px $colorDarkLimon

    &__p
        position: relative
        left: 40px
        color: white
        text-transform: uppercase
        font-size: $fontSizeSmall - 2px
