@import "../../app/styles.sass"

.footer
    display: flex
    align-items: center
    background-color: $colorDarkGreen
    height: 100px
    justify-content: center

    &__p
        color: $fontColorBright
        font-size: $fontSizeSmall
